/* body { 
  background-color: #2A2D32;
}


.neoTest {



position: absolute;
width: 200px;
height: 200px;
left: 300px;
top: 73px;

background: #2A2D32;
box-shadow: inset 18px 18px 20px #24262B, inset -18px -18px 20px #30343A;
border-radius: 20px;

} */

/* 
.gallery-card {
margin: 10px
}


.gallery-card .card-img{
border-radius: 0 ;
}

.gallery-card article {
  padding: 10px
} */