body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.button-effect{
  display: block;
  transform: scale(1.0);
  transition: transform 0.23 ease-in-out
}

.button-effect:hover{
  transform:scale(1.13);
  filter: drop-shadow(0 0 10px rgba(0,5,9,0319))
}

@media (max-width: 768) {
  .button-effect:hover{
    transform:scale(1.0);
    filter:none
  }
}

.gallery-card {
  margin: 10px
  }
  
  
  .gallery-card .card-img{
  border-radius: 0 ;
  }
  
.gallery-card article {
  padding: 10px
}



.gallery-card figure {
  overflow: hidden    
}

.gallery-card figure img {
  transition: transform 1.1 ease-out
}

.gallery-card figure img:hover {
  transform: scale(1.3)
}

  .gallery-card article {
    padding: 10px
  }

.button-effect{
  transition: all .2s;
}